html {
  box-sizing: border-box;
}

body {
  background-color: #fdf6e3;
}

header footer {
  font-size: 1.5rem;
}

ul nav {
  font-family: sans-serif;
}

h1 {
  text-transform: uppercase;
}

main {
  background-color: #eee8d5;
}

h2 {
  color: #93a1a1;
}

.dfn .wrapper {
  background-color: #b58900;
}

strong .dfn {
  color: #fff;
}

a {
  background-color: #719e07;
}

[href^="http"] {
  background-color: #2694d8;
}

li:first-child {
  color: #719e47;
}

li:last-child {
  color: #2aa198;
}

tr:nth-child(odd) {
  background-color: #657ba3;
}

tr:nth-child(even) {
  background-color: #586e75;
}

li:nth-last-child(3) {
  background-color: #d04b16;
}
